node_modules
.dccache
.idea

# TypeScript build artifacts
*.js.map
app/*.js
app/config/*.js
app/logger/*.js
app/app/
app/src/

# ignore live access configs
src/config/config.prod.ts
src/config/config.dev.ts