services:
  weather:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - 8070:8070
    volumes:
      - ./src:/app/src
      - ./config:/app/config
      - ./.version:/app/.version
      - /app/node_modules
    restart: always
    environment:
      - ENV_ID=dev
      - NODE_OPTIONS=--enable-source-maps